@import 'bootstrap/scss/bootstrap';
@import 'react-toastify/dist/ReactToastify.css';


body{
  background: #f8fbff;
}

li.pokemon-item{
  & + .pokemon-item{
    border-top: 1px dashed #ccc;
  }
}

table.table tr td {
  vertical-align: middle;
}
